$color-primary-0: #FED600 !default; // Principal color primario * /
$color-primary-1: #FFEA78 !default;
$color-primary-2: #FFE55A !default;
$color-primary-3: #8E7800 !default;
$color-primary-4: #675700 !default;
$color-complement-0: #333E48 !default; // Main Primary color */
$color-complement-1: #687480 !default;
$color-complement-2: #4B5965 !default;
$color-complement-3: #1E2A35 !default;
$color-complement-4: #12212E !default;
$color-body: $color-complement-1;
$color-border-top-body: $color-complement-4;
$text-color: $color-complement-3;