// Typography
@import "_fonts.scss";
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~node_modules/font-awesome/fonts";
$font-family: 'arimoregular';
$font-size-base: 1rem;
$line-height-base: 1.2rem;