$color-primary-0: #FED600; // Principal color primario * /
$color-primary-1: #FFEA78;
$color-primary-2: #FFE55A;
$color-primary-3: #8E7800;
$color-primary-4: #675700;
$color-complement-0: #333E48; // Main Primary color */
$color-complement-1: #687480;
$color-complement-2: #4B5965;
$color-complement-3: #1E2A35;
$color-complement-4: #12212E;
$color-body: $color-complement-1;
$color-border-top-body: $color-complement-4;
$text-color: $color-complement-3;